.form-container {
    max-width: 400px;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #1d1818;
    
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #100f0f;
    border-radius: 5px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #d900ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 14px;
  }
  